# A config with values that are very unlikely to change during execution
[DB]
# Database connection string, should work with the provided docker image
dsn = host=db user=bot password=bot dbname=discord
# Directory with migration files, should work with the provided docker image
migrations = migrations/
[Log]
# Log directory
directory = logs/
[Discord]
# Bot token
token = AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
