[tool.pyright]
exclude = ["discord", "discord.py"]
pythonVersion = "3.9"

reportUnnecessaryCast = "warning"
reportUnnecessaryTypeIgnoreComment = "warning"
reportFunctionMemberAccess = "warning"
reportUnusedImport = "warning"
reportUnusedClass = "warning"
reportUnusedFunction = "warning"
reportUnusedVariable = "warning"
reportDuplicateImport = "warning"
reportUntypedFunctionDecorator = "error"
reportUntypedClassDecorator = "error"
reportUntypedBaseClass = "error"
reportUntypedNamedTuple = "error"
reportUnknownParameterType = "error"
reportUnknownLambdaType = "error"
reportMissingParameterType = "error"
reportMissingTypeArgument = "error"
reportUnnecessaryIsInstance = "warning"

[tool.black]
extend-exclude = "discord/|discord.py/"
line-length = 120
target-version = ["py39"]

[tool.isort]
skip_glob = ["discord/*", "discord.py/*"]
multi_line_output = 3
include_trailing_comma = true
combine_as_imports = true
force_sort_within_sections = true
line_length = 120
known_third_party = "discord"
extra_standard_library = "typing_extensions"
lines_after_imports = 2
